.downloadLayout
    margin-top : 30px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.downloadTitle
    font-size: 34px
    font-weight: semi-bold
    color : #2E2E2E
    display: flex
    align-items: center
    justify-content: center

.nameBlock
    position: inherit
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    